.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 50px;
}

.btn {
  height: 50px;
  width: 200px;
  font-size: medium;
  color: white;
  background-color: cornflowerblue;
  margin: 100px auto;
}

.container header {
  font-size: medium;
}
